<div class="home-container">
    <div class="header">
      <h1 class="welcome-title">¡Bienvenido/a {{auth.usuarioActual?.email}}!</h1>
    </div>
    
    <div class="games-container">
      <h2 class="games-title">Elige un juego</h2>
      
      <div class="games-grid">
        <div class="game-card">
          <div class="game-icon">😱</div>
          <h3>Ahorcado</h3>
          <p>¡Adivina todas las letras de la palabra antes de que muera ahoracado!</p>
          <button routerLink="/ahorcado" class="game-btn">Jugar</button>
        </div>
        
        <div class="game-card">
          <div class="game-icon">❓</div>
          <h3>Preguntados</h3>
          <p>¡Contesta todas las preguntas lo antes posible!</p>
          <button class="game-btn">Jugar</button>
        </div>
        
        <div class="game-card">
          <div class="game-icon">📈📉</div>
          <h3>Mayor o Menor</h3>
          <p>¡Adivina si la proxima carta será mayor o menor a la anterior!</p>
          <button class="game-btn">Jugar</button>
        </div>
        
        <div class="game-card">
          <div class="game-icon">🤓</div>
          <h3>¿Quién es Quién?</h3>
          <p>¡Adivina la persona del rival antes de que adivine la tuya!</p>
          <button class="game-btn">Jugar</button>
        </div>
      </div>
    </div>
  </div>