<div *ngIf="!juegoIniciado" class="popup">
    <div class="popup-contenido">
      <p>¡Adivina si la proxima carta será mayor o menor a la anterior!</p>
      <p>¡¿Estás listo?!</p>
      <button (click)="iniciarJuego()">Comenzar</button>
    </div>
  </div>
  
  <div *ngIf="juegoIniciado && !juegoTerminado" class="container">
    <div class="carta">
      <img [src]="getImagenCarta(cartaActual)" alt="{{cartaActual?.numero + ' de ' + cartaActual?.palo}}">
    </div>
  
    <div class="contador">
      Tiempo restante: {{ tiempoRestante }}s
    </div>
  
    <div class="botones">
      <button (click)="jugar('mayor')" [disabled]="tiempoRestante === 0">Mayor</button>
      <button (click)="jugar('menor')" [disabled]="tiempoRestante === 0">Menor</button>
    </div>
  
    <div class="puntaje">
      <span>Aciertos: {{ aciertos }}</span>
      <span>Errores: {{ errores }}</span>
    </div>
  </div>
  
  <div *ngIf="juegoTerminado" class="resultado-final">
    <p>Juego terminado</p>
    <p>Puntaje: {{ puntaje }}</p>
    <button (click)="iniciarJuego()">Volver a jugar</button>
  </div>
  