@if (userData) {
  <div class="perfil-card">
    <img [src]="userData.avatar_url" alt="Avatar de {{ userData.name }}" class="avatar">

    <h2>Hola, soy {{ userData.name }}</h2>

    <section class="sobre-mi">
      <h3>Sobre mí:</h3>
      <ul>
        <li>Mi usuario en GitHub es: {{ userData.login }}</li>
        <li>Me uní el: {{ userData.created_at | date: 'dd/MM/yyyy' }}</li>
        <li>Tengo {{ userData.public_repos }} repositorio(s) públicos.</li>
      </ul>
    </section>

    <section class="mi-juego">
      <h3>Mi juego: <span class="juego-titulo">¿Quién es quién⁉️🤔</span></h3>
      
      <h4>Reglas:</h4>
      <ul>
        <li>Jugador vs Computadora</li>
        <li>Hay 20 personas. La computadora elige una al azar.</li>
        <li>El usuario hace preguntas sobre características.</li>
        <li>Podés arriesgar el nombre en tu turno. Si acertás, ganás. Si no, perdés.</li>
      </ul>

      <h4>Puntuación:</h4>
      <ul>
        <li>Ganás puntos fijos al adivinar.</li>
        <li>Si arriesgás y fallás, no ganás puntos.</li>
        <li>Menos intentos = más puntos extra.</li>
      </ul>
    </section>

    <div class="github-button">
      <a href="https://github.com/leonsokolowski" target="_blank">
        <button>Ver perfil en GitHub</button>
      </a>
    </div>
  </div>
} @else {
  <div>
    <p>Cargando datos...</p>
  </div>
}